/* body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  color: blue;
  font-family: Arial, Helvetica, sans-serif;
} */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 125vh;
  margin: 0;
}
.welcome-message {
  text-align: center;
}
img {
  display: block;
  margin: 0 auto;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 125vh;
  margin: 0;
  font-family: Arial, sans-serif !important; /* Changer la police */
  color: hsl(236, 100%, 50%) !important; /* Changer la couleur du texte */
}
.welcome-message {
  position: relative;
  text-align: center;
}

.cross-image-left {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.cross-image-right {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
/* Ajoutez ces styles dans votre fichier style.css */

/* Positionne les boutons */
.button-container {
  text-align: center;
}

.button-container input {
  margin: 10px;
}

/* Positionnement spécifique pour chaque bouton */
#button-mains {
  position: absolute;
  top: 320px;
  left: 230px;
}

#button-mains2 {
  position: absolute;
  top: 320px;
  right: 230px;
}

#button-torse {
  position: absolute;
  top: 160px;
  right: 270px;
}

#button-tete {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

#button-jambes {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
.button-container {
  position: absolute;
  top: 20px; /* Décalage depuis le haut */
  left: 20px; /* Décalage depuis la gauche */
}

.square-button {
  width: 75px; /* Largeur du bouton */
  height: 150px; /* Hauteur du bouton */
}

